xsd/TAXII_XML_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://taxii.mitre.org/messages/xml/1"
    xmlns:stix="http://stix.mitre.org" xmlns:taxii="http://taxii.mitre.org/messages/xml/1"
    targetNamespace="http://taxii.mitre.org/messages/xml/1" elementFormDefault="qualified"
    xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#">
    <xs:annotation>
        <xs:documentation>XML schema associated with the TAXII XML Message Binding Specification. Note that in case of conflict, the specification is considered normative.</xs:documentation>
    </xs:annotation>

    <!-- GLOBAL TYPES -->
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
        schemaLocation="xmldsig-core-schema.xsd"/>
    <xs:complexType name="TAXII_Message_Type">
        <xs:annotation>
            <xs:documentation>The root of all TAXII messages. This is used to define header fields. This will never be instantiated directly but the TAXII Message Body types all extend this type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Extended_Headers" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>For extension headers.</xs:documentation>
                            </xs:annotation>
                        </xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="message_id" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Holds the message ID of this message.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="in_response_to" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>If this message is responding to some other TAXII message, this field holds the original message's MessageID value.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="TAXII_Error_Message_Type">
        <xs:annotation>
            <xs:documentation>Type used by TAXII Error Messages</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Error_Detail" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Machine-readable information about this message. See the specification for details.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType mixed="true">
                            <xs:simpleContent>
                                <xs:extension base="xs:string"/>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="Message" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>An additional message intended for human consumption</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="error_type" use="required">
                    <xs:simpleType>
                        <xs:union memberTypes="ErrorTypeEnum xs:string">
                            <xs:annotation>
                                <xs:documentation>This identifies the type of error conveyed in this message. Can either be one of the defined Error Types or a user-defined value.</xs:documentation>
                            </xs:annotation>
                        </xs:union>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ErrorTypeEnum">
        <xs:annotation>
            <xs:documentation>The defined TAXII error message types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BAD_MESSAGE">
                <xs:annotation>
                    <xs:documentation>Bad Message - TAXII Server could not interpret the message</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNSUPPORTED_SERVICE">
                <xs:annotation>
                    <xs:documentation>Unsupported Service - Requested service not supported</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNAUTHORIZED">
                <xs:annotation>
                    <xs:documentation>Unauthorized - Authentication required or incorrect</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DENIED">
                <xs:annotation>
                    <xs:documentation>Denied - Rejected for reasons other than authentication</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNSUPPORTED_PROTOCOL">
                <xs:annotation>
                    <xs:documentation>Unsupported Protocol - Requested Protocol Binding not supported</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNSUPPORTED_MESSAGE">
                <xs:annotation>
                    <xs:documentation>Unsupported Message Binding - Requested Message Binding not supported</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNSUPPORTED_CONTENT">
                <xs:annotation>
                    <xs:documentation>Unsupported Content Binding - Requested Content Binding not supported</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>Not Found - Request was for an unknown target</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNRECOGNIZED_VALUE">
                <xs:annotation>
                    <xs:documentation>Unrecognized Field Value - Unable to interpret a field value</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PROTECTION_UNSUPPORTED">
                <xs:annotation>
                    <xs:documentation>Protection Unsupported - Unable to comply with requested encryption protections</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAILURE">
                <xs:annotation>
                    <xs:documentation>Failure - General indication of failure</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PENDING">
                <xs:annotation>
                    <xs:documentation>Pending - Unable to respond within current session but queued for later response</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TAXII_Discovery_Request_Type">
        <xs:annotation>
            <xs:documentation>Request to a Discovery Service for a listing of services.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxii:TAXII_Message_Type"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TAXII_Discovery_Response_Type">
        <xs:annotation>
            <xs:documentation>Response to a Discovery Request. Contains 0 or more Service records.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxii:TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Service_Instance" minOccurs="0" maxOccurs="unbounded"
                        type="taxii:Service_Instance_Type">
                        <xs:annotation>
                            <xs:documentation>Each instance holds one service record.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Service_Instance_Type">
        <xs:annotation>
            <xs:documentation>Describes one TAXII service.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Protocol" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The supported protocol, identified using a TAXII Protocol Binding Version ID string or some other string value denoting a non-standard protocols</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Message_Binding" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>One or more supported message bindings, identified using a TAXII Message Binding Version ID string or some other string value denoting a non-standard message binding.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Payload_Binding" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Required if protocol = INBOX, ignored otherwise. One or more supported payload binding identifiers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Service_Address" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The address used to contact the identified service. Should be a valid address using the identified protocol.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Message" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A message with regard to the named service</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="service_type" type="taxii:ServiceTypeEnum" use="required">
            <xs:annotation>
                <xs:documentation>The type of the service.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="available" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>True if the requester is known to be allowed to use the given service. False if the requester is not allowed or if the requester's access is unknown.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="ServiceTypeEnum">
        <xs:annotation>
            <xs:documentation>The defined TAXII services</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISCOVERY">
                <xs:annotation>
                    <xs:documentation>Discovery Service</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEED">
                <xs:annotation>
                    <xs:documentation>Feed Management Service</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INBOX">
                <xs:annotation>
                    <xs:documentation>Inbox Service</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="POLL">
                <xs:annotation>
                    <xs:documentation>Poll Service</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TAXII_Feed_Information_Request_Type">
        <xs:annotation>
            <xs:documentation>A request for information about offered feeds from a Feed Management Service</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxii:TAXII_Message_Type"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TAXII_Feed_Information_Response_Type">
        <xs:annotation>
            <xs:documentation>A response to a Feed Information Request. Contains 0 or more feed records.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxii:TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Feed" minOccurs="0" maxOccurs="unbounded"
                        type="taxii:Feed_Record_Type">
                        <xs:annotation>
                            <xs:documentation>One element provided for each feed in the response</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Feed_Record_Type">
        <xs:annotation>
            <xs:documentation>A record for a data feed</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>A prose description of this feed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Protocol" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The protocols by which feed content can be delivered, identified using a TAXII Protocol Binding Version ID string or some other string value denoting a non-standard protocols</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Message_Binding" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>One or more message bindings by which feed content can be delivered, identified using a TAXII Message Binding Version ID string or some other string value denoting a non-standard message binding.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Payload_Binding" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>One or more supported content payload binding identifiers by which feed content can be expressed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="feed_name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>A locally unique name for this service.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="available" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>True if the requester is known to be allowed to access the given feed. False if the requester is not allowed or if the requester's access is unknown.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="TAXII_Subscription_Management_Request_Type">
        <xs:annotation>
            <xs:documentation>Request management of a feed subscription (including creation of a new subscription)</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxii:TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Feed_Name" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The feed whose subscription is being managed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Action" type="taxii:FeedActionEnum" minOccurs="1"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The action to take on this feed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Subscription_ID" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The subscription ID being managed</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Subscription" type="taxii:Subscription_Record_Type"
                        minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>MUST be present for SUBSCRIBE and MODIFY actions and ignored for all other actions. Indicates the subscription details to be applied to a new or modified subscription.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="FeedActionEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUBSCRIBE">
                <xs:annotation>
                    <xs:documentation>Create a new subscription.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNSUBSCRIBE">
                <xs:annotation>
                    <xs:documentation>Delete an existing subscription.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PAUSE">
                <xs:annotation>
                    <xs:documentation>Pause delivery of an existing subscription without deleting it.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RESUME">
                <xs:annotation>
                    <xs:documentation>Resume deliver of a paused subscription.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODIFY">
                <xs:annotation>
                    <xs:documentation>Change an existing subscription.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QUERY">
                <xs:annotation>
                    <xs:documentation>Ask about the requesters established subscriptions for this feed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TAXII_Subscription_Management_Response_Type">
        <xs:annotation>
            <xs:documentation>Indicates a successful response to a Feed Management Request message.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxii:TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Feed_Name" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The feed whose subscription is being managed.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Subscription" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>This element will appear exactly once for request actions other than QUERY. It may appear zero or more times in response to a QUERY action. Each instance of this element represents a subscription to the named feed.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="Subscription_Record_Type">
                                    <xs:attribute name="subscription_id" type="xs:string"
                                        use="required">
                                        <xs:annotation>
                                            <xs:documentation>The ID assigned to the given subscription</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="SuccessTypeEnum">
        <xs:annotation>
            <xs:documentation>The defined TAXII error message types</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCESS">
                <xs:annotation>
                    <xs:documentation>Success - The action was successful</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TAXII_Poll_Request_Type">
        <xs:annotation>
            <xs:documentation>A request to Poll a data feed.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="taxii:TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Feed_Name" type="xs:string" minOccurs="1" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The feed to poll.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Exclusive_Begin_Timestamp" type="xs:dateTime" minOccurs="0"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The earliest timestamp of content to retrieve</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Inclusive_End_Timestamp" type="xs:dateTime" minOccurs="0"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The latest timestamp of content to retrieve</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:choice>
                        <xs:element name="Subscription_ID" type="xs:string" minOccurs="0"
                            maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>The subscription ID being polled</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Payload_Binding" type="xs:string" minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>The payload binding identifier by which the requester wants the poll content expressed.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TAXII_Poll_Response_Type">
        <xs:annotation>
            <xs:documentation>Type for the Poll Response Messages</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Inclusive_Begin_Timestamp" type="xs:dateTime" minOccurs="0"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The earliest timestamp of content to retrieve</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Inclusive_End_Timestamp" type="xs:dateTime" minOccurs="1"
                        maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The latest timestamp of content to retrieve</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Subscription_ID" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The subscription ID being polled</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Payload_Block" type="Payload_Block_Type" maxOccurs="unbounded"
                        minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TAXII_Inbox_Message_Type">
        <xs:annotation>
            <xs:documentation>STIX content</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="TAXII_Message_Type">
                <xs:sequence>
                    <xs:element name="Subscription_ID" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>The subcription from which this content was collected, if any.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Payload_Block" type="Payload_Block_Type" maxOccurs="unbounded"
                        minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Subscription_Record_Type">
        <xs:annotation>
            <xs:documentation>Records subscription parameters</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Protocol" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The protocol by which the requester wants feed content delivered, identified using a TAXII Protocol Binding Version ID string or some other string value denoting a non-standard protocols</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Message_Binding" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The message binding by which the requester wants feed content delivered, identified using a TAXII Message Binding Version ID string or some other string value denoting a non-standard message binding.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Payload_Binding" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The payload binding identifier by which the requester wants feed content expressed</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Send_To" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The address to which content will be pushed. May be empty if the protocol indicates polling only. This must be a valid address according to the given protocol.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- GLOBAL ELEMENTS -->
    <xs:element name="TAXII_Message" abstract="true" type="taxii:TAXII_Message_Type">
        <xs:annotation>
            <xs:documentation>Abstract super-type of all message elements</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="TAXII_Discovery_Request" type="taxii:TAXII_Discovery_Request_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Discovery_Response" type="taxii:TAXII_Discovery_Response_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Error_Message" type="taxii:TAXII_Error_Message_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Feed_Information_Request"
        type="taxii:TAXII_Feed_Information_Request_Type" substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_FeedInformationResponse"
        type="taxii:TAXII_Feed_Information_Response_Type" substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Subscription_Management_Request"
        type="taxii:TAXII_Subscription_Management_Request_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Subscription_Management_Response"
        type="taxii:TAXII_Subscription_Management_Response_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Poll_Request" type="taxii:TAXII_Poll_Request_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Poll_Response" type="taxii:TAXII_Poll_Response_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:element name="TAXII_Inbox_Message" type="taxii:TAXII_Inbox_Message_Type"
        substitutionGroup="taxii:TAXII_Message"/>
    <xs:complexType name="Payload_Block_Type">
        <xs:sequence>
            <xs:element name="Payload_Binding" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This field contains a Content Payload Binding Identifier indicating the format of the payload.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Payload" type="xs:anyType">
                <xs:annotation>
                    <xs:documentation>This field contains a payload in the format specified by the Payload Binding. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="ds:Signature">
                <xs:annotation>
                    <xs:documentation>A detached digital signature for the Payload element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Padding" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This field contains an arbitrary amount of padding for this content Payload kBlock. This is typically used to obfuscate the size of the Payload Block when the Payload is encrypted. This field should be ignored when processing a Payload Block.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Destination_Feed_Name"
                type="xs:string">
                <xs:annotation>
                    <xs:documentation>The Destination Feed Name field is only used when a spoke is sharing information with a hub in a hub-and-spoke relationship. Destination Feed Name may occur any number times (including 0). Each instance Destination Feed Name indicates a hub-provided data feed the information contained in this message may be published on (though the hub has no requirement to do so). If this field is not present in a message where a spoke is sharing information with a hub, the hub may decide on which (if any) data feeds the information will be made available. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
